# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env.testing

.vscode
yarn.lock

# The development sqlite file
database/development.sqlite
